/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| DESIGNED BY  HOSSAM HILAL ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2022 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/


/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');


:root {
    --primaryColor: #eb9856;
    --white: #ffffff;
    --text: #333;
    --black: #1a1a1a;
    --grey: #F7F9FC;
    --blue: #0078D2;
    --blue-dark: #0657a9;
    --orange: #853c02;
}


/**** Init ****/
body {
    font-family: 'El Messiri' , 'Almarai', sans-serif;
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
}

.stopScroll {
    overflow: hidden;
}

.secPadding {
    padding: 80px 0;
}

p {
    color: var(--text);
    margin: 0;
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button:focus,
button:active,
input:active,
input:focus,
select:active,
select:focus,
textarea:focus,
textarea:active {
    box-shadow: none;
    outline: 0;
}

/*==========================||---------------------------||========================*/
/*==========================||         Container         ||========================*/
/*==========================||---------------------------||========================*/

@media (min-width: 1300px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           HEADER          ||========================*/
/*==========================||---------------------------||========================*/

.headerTop {
    padding: 15px;
    height: 100px;
}

.flexBox {
    display: flex;
    justify-content: space-between;
}

.sticky .flexBox {
    align-items: center;
}

.headerTop a {
    color: var(--text);
    font-weight: 600;
    font-size: 17px;
    transition: all .4s ease-in-out;
}

.headerTop a:hover {
    color: var(--primaryColor);
}

.siteLinks {
    display: flex;
}

.header .call {
    margin-inline-end: 25px;
}

.header .logo {
    max-width: 260px;
    position: absolute;
    top: 15px;
    left: calc(50% - 130px);
}

.sticky .logo {
    position: relative;
    top: auto;
    left: auto;
}

.headerBottom {
    background: var(--primaryColor);
    padding: 10px 0;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: var(--white);
    z-index: 11;
}

.navMenu > ul {
    display: flex;
    align-items: center;
}

.dropDown {
    position: relative;
    color: var(--white);
    font-weight: 700;
    padding: 7px;
    font-size: 14px;
    cursor: pointer;
}

.sticky .dropDown {
    color: var(--text);
}

.dropDown ul {
    position: absolute;
    top: 48px;
    z-index: 2;
    background: var(--white);
    width: 90px;
    border-radius: 5px;
    display: none;
}

.dropDown ul a {
    color: var(--text);
    width: 100%;
}

.navMenu a {
    color: var(--white);
    font-weight: 700;
    margin-inline-end: 15px;
    padding: 7px;
    display: inline-flex;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}

.sticky .navMenu a {
    color: var(--text);
}

.navMenu a:hover {
    background: rgb(239 139 59);
    color: var(--white);
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--white);
    border-radius: 5px;
    padding: 5px 15px;
    color: var(--white);
    font-weight: 600;
    margin-inline-start: 15px;
    transition: all .4s ease-in-out;
}

.sticky .results {
    color: var(--text);
    border-color: var(--text);
}

.results:hover {
    background: rgb(239 139 59);
    border-color: rgb(239 139 59);
    color: var(--white);
}

.openSearch {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--white);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.sticky .openSearch {
    color: var(--text);
}

.openSearch:hover {
    color: var(--orange);
}

.mobileHeader {
    display: none;
}

@media screen and (max-width:768px) {
    .header {
        display: none;
    }

    .mobileHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--black);
        padding: 8px 15px;
    }

    .stickyMobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 11;
    }

    .sideNav {
        position: fixed;
        top: 0;
        right: 0;
        width: 270px;
        height: 100vh;
        padding: 20px;
        background: var(--white);
        z-index: 10;
        transform: translateX(100%);
        transition: all .7s ease-in-out;
    }

    .sideNav.show {
        transform: translateX(0%);
    }

    .menuBtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 25px;
        height: 18px;
    }

    .menuBtn span {
        height: 2px;
        width: 100%;
        background: var(--white);
    }

    .mobileHeader .logo {
        max-width: 145px;
    }

    .mobileIcons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobileIcons .openSearch {
        font-size: 20px;
    }

    .stickyMobile .openSearch {
        color: var(--white);
    }

    .mobileIcons .language {
        color: var(--white);
        margin-inline-start: 15px;
    }

    .bodyOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background: var(--black);
        opacity: 0;
        visibility: hidden;
        transition: all .7s ease-in-out;
    }

    .bodyOverlay.show {
        opacity: 0.7;
        visibility: visible;
        z-index: 9;
    }

    .sideMenu {
        margin-bottom: 20px;
    }

    .sideMenu a {
        display: flex;
        align-items: center;
        color: var(--text);
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .sideMenu a:hover {
        color: var(--primaryColor);
    }

    .flexBtns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobileHeader .results {
        background: var(--primaryColor);
        width: auto;
        margin: 0;
        padding: 10px 12px;
        font-size: 13px;
        border-color: var(--primaryColor);
    }

    .mobileHeader .login {
        color: var(--text);
        border: 2px solid var(--text);
        padding: 10px 12px;
        font-size: 13px;
        border-radius: 5px;
        font-weight: 600;
    }

    .closeMenu {
        width: 25px;
        margin-inline-start: auto;
        font-size: 25px;
    }

    .closeMenu:hover {
        color: var(--primaryColor);
    }

    .mobileHeader .hotLine {
        margin: 0;
        margin-top: 30px;
        display: flex;
        flex-direction: revert;
        justify-content: space-between;
    }

    .mobileHeader .hotLine a {
        color: var(--text);
        font-size: 28px;
    }

    .mobileHeader .hotLine label {
        margin: 0;
    }
}

@media (min-width:992px) and (max-width:11199px) {
    .navMenu a {
        margin-inline-end: 0px;
        font-size: 14px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||       Search Modal        ||========================*/
/*==========================||---------------------------||========================*/

.searchModal .modal-content {
    padding: 30px;
}

.closeModal {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: transparent;
    border: 0;
    font-size: 40px;
    padding: 0;
}

.searchForm {
    position: relative;
    margin: 40px 0;
}

.searchForm input[type="text"] {
    height: 45px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding-inline-start: 15px;
    padding-inline-end: 40px;
}

.searchForm input[type="text"]:focus,
.searchForm input[type="text"]:active {
    border-color: var(--primaryColor);
}

.searchForm [type="submit"] {
    border: 0;
    background: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 23px;
    color: var(--text);
    width: 40px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.searchForm [type="submit"]:hover {
    color: var(--primaryColor);
}

@media (min-width:992px) {
    .modal-dialog {
        max-width: 700px;
    }
}


@media screen and (max-width:425px) {
    .searchModal .modal-content {
        padding: 15px;
    }

    .searchModal .modal-body {
        padding: 0;
    }

    .searchForm input[type="text"] {
        font-size: 14px;
    }

    .searchForm [type="submit"] {
        font-size: 20px;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||       home slider         ||========================*/
/*==========================||---------------------------||========================*/

.homeSlider {
    position: relative;
}

.homeSlider img {
    height: calc(100vh - 158px);
}

.homeSlider .item a {
    position: absolute;
    bottom: 70px;
    left: calc(50% - 80px);
    width: 160px;
    padding: 8px 0;
    color: var(--text);
    font-weight: 900;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text);
    border-radius: 10px;
    margin: auto;
    transition: all .4s ease-in-out;
}

.homeSlider .item a:hover {
    background: var(--primaryColor);
}

.homeSlider .owl-nav {
    position: absolute;
    top: calc(50% - 47px);
    left: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 14%);
}

.homeSlider .owl-nav>div {
    font-size: 63px;
    color: var(--white);
    text-shadow: 0px 0px 0 #5c5c5c, 0px 0px 0 #5c5c5c, -1px 1px 0 #5c5c5c, 1px 1px 0 #5c5c5c;
}

.homeSlider .owl-nav>div:hover {
    color: var(--primaryColor);
}

.homeSlider .owl-dots {
    display: flex;
    position: absolute;
    bottom: 30px;
    justify-content: center;
    width: 100%;
}

.homeSlider .owl-dot {
    width: 10px;
    height: 10px;
    background: var(--text);
    border-radius: 50%;
    margin: 0 3px;
}

.homeSlider .owl-dot.active {
    background: var(--primaryColor);
}

.social {
    position: fixed;
    top: calc(50% - 100px);
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}

.social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: var(--white);
    transition: all .4s ease-in-out;
}

.facebook {
    background: #1877F2;
}

.twitter {
    background: #1DA1F2;
}

.instagram {
    background: #FF0084;
}

.youtube {
    background: #CD201F;
}

.social a:hover {
    width: 70px;
}

@media screen and (max-width:768px) {
    .homeSlider img {
        height: 270px;
    }

    .homeSlider .item a {
        font-size: 15px;
        width: 100px;
        left: calc(50% - 50px);
        bottom: 40px;
    }

    .homeSlider .owl-nav {
        top: calc(50% - 19px);
    }

    .homeSlider .owl-nav>div {
        font-size: 25px;
    }

    .homeSlider .owl-dots {
        bottom: 15px;
    }

    .social {
        top: calc(50% - 70px);
    }

    .social a {
        width: 35px;
        height: 35px;
    }

    .social a:hover {
        width: 45px;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||           Services        ||========================*/
/*==========================||---------------------------||========================*/

.grey {
    background: var(--grey);
}

.secHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.secHeader h2 {
    font-size: 40px;
    font-weight: 600;
}

.secHeader a {
    color: var(--text);
    font-size: 18px;
    font-weight: 600;
    transition: all .4s ease-in-out;
}

.secHeader a:hover {
    color: var(--primaryColor);
}

.service {
    display: block;
    color: var(--text);
    background: var(--white);
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 15px rgb(35 101 154 / 7%);
    transition: all .5s ease-in-out;
}

.service:hover {
    color: var(--text);
    transform: translateY(-10px);
    box-shadow: 0 5px 20px rgb(35 101 154 / 12%);
}

.service .data {
    padding: 25px;
}

.service h2 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 700;
}

.service h5 {
    font-size: 17px;
    margin: 0;
}

@media screen and (max-width:768px) {
    .secPadding {
        padding: 30px 0;
    }

    .secHeader h2 {
        font-size: 25px;
    }

    .secHeader a {
        font-size: 15px;
    }

    .service {
        margin-bottom: 20px;
    }

    .service .data {
        padding: 20px;
    }

    .service h2 {
        font-size: 18px;
    }

    .service h5 {
        font-size: 15px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Article         ||========================*/
/*==========================||---------------------------||========================*/

.secPaddingSm {
    padding: 50px 0;
}

.articleContent {
    margin-bottom: 20px;
    max-width: 470px;
}

.articleContent h2 {
    font-size: 44px;
    margin-bottom: 30px;
    font-weight: 900;
}

.articleContent p {
    font-size: 20px;
    margin-bottom: 80px;
    line-height: 1.7;
}

.bookingBtn {
    background: var(--blue);
    color: var(--white);
    width: 140px;
    height: 45px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.bookingBtn:hover {
    background: var(--blue-dark);
    color: var(--white);
}

.bookingBtn span {
    margin-inline-end: 20px;
}

@media screen and (max-width:768px) {
    .articleContent h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .articleContent p {
        font-size: 17px;
        margin-bottom: 30px;
    }

    .article {
        padding: 40px 0;
    }

    .bookingBtn {
        font-size: 14px;
        width: 110px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            Apps           ||========================*/
/*==========================||---------------------------||========================*/

.apps h2 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 600;
}

.apps p {
    font-size: 20px;
    margin-bottom: 15px;
}

.appsVector {
    display: flex;
    align-items: center;
    justify-content: center;
}

.appsVector img {
    max-height: 400px;
}

.appsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.downloads {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.download {
    color: var(--white);
    background: #000;
    display: flex;
    align-items: center;
    padding: 5px 12px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.download .icon {
    margin-inline-start: 10px;
}

.download img {
    max-width: 25px;
}

.download .data {
    text-align: end;
}

.download h5 {
    text-transform: uppercase;
    font-size: 9px;
    margin-bottom: 4px;
}

.download h6 {
    font-size: 17px;
    margin: 0;
}

.download:first-of-type {
    margin-inline-end: 20px;
}

.download:hover {
    color: var(--white);
    background: var(--primaryColor);
}

@media screen and (max-width:768px) {
    .appsVector img {
        max-height: 210px;
    }

    .appsContent {
        padding: 20px 0;
    }

    .apps h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .apps p {
        font-size: 14px;
    }

    .downloads {
        margin: 0;
    }

    .download {
        padding: 7px 10px;
    }

    .download h6 {
        font-size: 12px;
    }

    .download .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .download img {
        max-width: 17px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            Footer         ||========================*/
/*==========================||---------------------------||========================*/

.footerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer a {
    color: var(--text);
}

.menu a {
    font-weight: 700;
    margin-inline-end: 15px;
    display: inline-flex;
    transition: all .4s ease-in-out;
}

.menu a:hover {
    color: var(--primaryColor);
}

.follow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--grey);
    border-radius: 50%;
    margin-inline-start: 10px;
    transition: all .4s ease-in-out;
}

.follow a:hover {
    background: var(--primaryColor);
    color: var(--white);
}

.footerBottom .row {
    align-items: center;
}

.footerBottom p {
    font-weight: 600;
}

.footerInfo {
    display: flex;
    align-items: end;
    justify-content: center;
}

.hotLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline-start: 25px;
}

.hotLine label {
    font-weight: 600;
    font-size: 19px;
}

.hotLine a {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 3px;
}

.up {
    width: 50px;
    height: 55px;
    background: var(--white);
    color: var(--text);
    box-shadow: 1px 3px 5px 0px rgb(0 0 0 / 20%);
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 36px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.up.show {
    opacity: 1;
    visibility: visible;
}

.up:hover {
    background: var(--primaryColor);
    color: var(--white);
}

@media screen and (max-width:768px) {
    .footerTop {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .menu a {
        margin-inline-end: 10px;
        font-size: 14px;
    }

    .follow {
        margin-top: 18px;
    }

    .footerBottom p {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .hotLine label {
        font-size: 14px;
    }

    .hotLine a {
        font-size: 19px;
        letter-spacing: 1px;
    }

    .footer .logo {
        max-width: 63%;
    }

    .up {
        width: 35px;
        height: 40px;
        font-size: 25px;
        right: 15px;
        bottom: 15px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            About          ||========================*/
/*==========================||---------------------------||========================*/

.about h2 {
    font-size: 44px;
    margin-bottom: 30px;
    font-weight: 800;
}

.about p {
    font-size: 18px;
    line-height: 2;
}

.about h3 {
    font-size: 22px;
    font-weight: 700;
    opacity: .8;
    margin-bottom: 12px;
}

.valueBlock {
    margin-bottom: 35px;
}


@media screen and (max-width:768px) {
    .secPaddingSm {
        padding: 20px 0;
    }

    .aboutVector {
        margin-bottom: 20px;
    }

    .about h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .about p {
        font-size: 14px;
        line-height: 1.7;
    }

    .about h3 {
        font-size: 17px;
        margin-bottom: 5px;
    }

    .valueBlock {
        margin-bottom: 15px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Services        ||========================*/
/*==========================||---------------------------||========================*/

.servicesPage {
    padding: 0 15px;
}

.pageHead {
    margin: 50px 0;
}

.pageHead h1 {
    font-size: 50px;
    font-weight: 800;
}

.pageHeader {
    position: relative;
    height: 300px;
}

.pageHeaderTitle {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;
}

.pageHeaderTitle h1 {
    font-size: 44px;
    font-weight: 700;
}

.servicContent h2 {
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 700;
}

.servicContent p {
    font-size: 21px;
    line-height: 40px;
}

.servicContent ul {
    list-style: disc;
    list-style-position: inside;
    padding: 20px;
    font-size: 18px;
    line-height: 35px;
}

@media screen and (max-width:768px) {
    .servicesPage {
        padding: 0;
    }

    .pageHead {
        margin: 30px 0;
    }

    .pageHead h1 {
        font-size: 30px;
    }

    .pageHeader {
        height: 123px;
    }

    .pageHeaderTitle h1 {
        font-size: 23px;
    }

    .servicContent h2 {
        font-size: 23px;
    }

    .servicContent p {
        font-size: 17px;
        line-height: 30px;
    }

    .servicContent ul {
        padding: 14px;
        font-size: 15px;
        line-height: 30px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||          branches         ||========================*/
/*==========================||---------------------------||========================*/

.branchesList h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 30px;
}

.branch {
    background: var(--white);
    border-radius: 15px;
    box-shadow: 0 5px 35px rgb(35 101 154 / 10%);
    padding: 15px;
    margin-bottom: 30px;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.branch h3 {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 600;
}

.branch p {
    font-weight: 600;
    font-size: 14px;
}

.branchInfo i {
    color: var(--blue);
    font-size: 20px;
}

.branchLocation {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primaryColor);
    color: var(--white);
    width: 140px;
    height: 45px;
    border-radius: 5px;
    margin-inline-start: 20px;
}

.branchLocation:hover {
    background: rgb(239 139 59);
    color: var(--white);
}

.branchLocation i {
    font-size: 22px;
}

.branchLocation span {
    margin-inline-start: 5px;
}

@media screen and (max-width:768px) {}

/*==========================||---------------------------||========================*/
/*==========================||           Packages        ||========================*/
/*==========================||---------------------------||========================*/

.package {
    display: block;
    color: var(--text);
    background: var(--white);
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 15px rgb(35 101 154 / 7%);
    margin-bottom: 30px;
    transition: all .5s ease-in-out;
}

.package .pic {
    height: 180px;
}

.package img {
    height: 100%;
}

.package .data {
    padding: 20px;
}

.package h2 {
    font-size: 25px;
    height: 75px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 15px;
}

.package h5 {
    font-size: 17px;
}

.package:hover {
    color: var(--text);
    transform: translateY(-10px);
    box-shadow: 0 5px 20px rgb(35 101 154 / 12%);
}

@media screen and (max-width:768px) {
    .package {
        margin-bottom: 20px;
    }

    .package .pic {
        height: 140px;
    }

    .package .data {
        padding: 15px;
    }

    .package h2 {
        font-size: 18px;
        font-weight: 800;
        line-height: 30px;
        height: 55px;
    }

    .package h5 {
        font-size: 14px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||         Preperation       ||========================*/
/*==========================||---------------------------||========================*/

.preperation {
    margin-bottom: 30px;
}

.preperation h2 {
    color: var(--primaryColor);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.preperation ul {
    list-style: circle;
    list-style-position: inside;
    font-size: 17px;
    line-height: 40px;
    margin-inline-start: 20px;
}


@media screen and (max-width:768px) {
    .preperation h2 {
        font-size: 18px;
    }

    .preperation ul {
        font-size: 14px;
        line-height: 28px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Support         ||========================*/
/*==========================||---------------------------||========================*/

.fixedWidth {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.supportHeader {
    margin: 0 auto 40px;
}

.supportHeader h2 {
    font-size: 33px;
    color: var(--primaryColor);
    font-weight: 600;
}

.supportHeader p {
    font-size: 18px;
    line-height: 35px;
}

.supportSlider .item {
    min-height: 200px;
}

.supportSlider p {
    font-size: 18px;
    line-height: 35px;
}

.supportSlider .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.supportSlider .owl-dot {
    width: 30px;
    height: 3px;
    background: var(--text);
    margin: 0 4px;
}

.supportSlider .owl-dot.active {
    background: var(--primaryColor);
}

.supportPost {
    margin-bottom: 20px;
}

.supportPost img {
    margin-bottom: 15px;
    width: 100%;
    border-radius: 20px;
}

.supportPost h3 {
    font-size: 16px;
    line-height: 1.7;
}

.supBox {
    display: block;
    color: var(--text);
    background: var(--white);
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 15px rgb(35 101 154 / 7%);
    transition: all .5s ease-in-out;
    height: 100%;
}

.supBox:hover {
    color: var(--text);
    transform: translateY(-10px);
    box-shadow: 0 5px 20px rgb(35 101 154 / 12%);
}

.supBox img {
    max-height: 200px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.supBox .data {
    padding: 15px;
}

.supBox h4 {
    font-size: 15px;
    line-height: 1.7;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.labVideo iframe {
    width: 100%;
    height: 500px;
}

.waterSlider {
    background: url('../images/img-4.png') no-repeat;
    background-size: cover;
    max-width: 800px;
    height: 430px;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
    padding: 30px 40px;
}

.waterSlider .owlWater {
    height: 100%;
}

.waterSlider ul {
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    color: var(--white);
}

.waterSlider .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.waterSlider .owl-dot {
    width: 30px;
    height: 3px;
    background: var(--white);
    margin: 0 4px;
}

.waterSlider .owl-dot.active {
    background: var(--primaryColor);
}

.certificatesContent {
    max-width: 500px;
    margin: auto;
}

.certificate {
    width: 100px;
    text-align: center;
    margin: auto;
}

.showCertificate {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
}

.advantagesList {
    font-size: 23px;
    line-height: 40px;
    text-align: initial;
}

.advantagesList ul {
    display: flex;
    flex-wrap: wrap;
}

.advantagesList li {
    width: 50%;
}

.alertModal .modal-content {
    padding: 6%;
}

.displyed {
    line-height: 35px;
    text-align: center;
}

@media screen and (max-width:425px) {
    .advantagesList li {
        width: 100%;
    }

    .displyed {
        line-height: 30px;
        font-size: 15px;
    }
}

@media screen and (max-width:768px) {
    .supportHeader {
        margin-bottom: 15px;
    }

    .supportHeader h2 {
        font-size: 17px;
    }

    .supportHeader p {
        font-size: 15px;
        line-height: 25px;
    }

    .supportSlider p {
        font-size: 14px;
        line-height: 25px;
    }

    .supportPost h3 {
        font-size: 14px;
    }

    .supBox {
        margin-bottom: 20px;
        height: auto;
    }

    .supBox h4 {
        font-size: 14px;
    }

    .waterSlider {
        height: 300px;
    }

    .waterSlider ul {
        font-size: 15px;
        line-height: 30px;
    }

    .labVideo iframe {
        height: 350px;
    }

    .advantagesList {
        font-size: 15px;
        line-height: 30px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||          More Page        ||========================*/
/*==========================||---------------------------||========================*/

.description img {
    margin: auto;
    display: block;
}

.description h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.9;
}

.features h2 {
    font-weight: 600;
    margin-bottom: 40px;
}

.feature {
    color: var(--text);
    background: var(--white);
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0 5px 15px rgb(35 101 154 / 7%);
    transition: all .5s ease-in-out;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 20px rgb(35 101 154 / 12%);
}

.feature .pic {
    padding: 25px;
    height: 185px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.feature img {
    max-width: 100px;
}

.feature .data {
    padding: 25px;
}

.feature h4 {
    font-size: 17px;
    line-height: 31px;
    margin: 0;
}

.loginInfo h4 {
    font-size: 20px;
}

.loginInfo a {
    color: var(--primaryColor);
    font-weight: 700;
    margin: 0 5px;
}

.loginInfo span {
    color: var(--primaryColor);
    font-weight: 700;
    font-size: 36px;
}

.policy h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

.policy ul {
    list-style: disc;
    list-style-position: initial;
    padding-inline-start: 20px;
    line-height: 30px;
}

.policy li {
    margin-bottom: 10px;
}

@media screen and (max-width:768px) {
    .description h3 {
        font-size: 14px;
    }

    .features h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .feature {
        margin-bottom: 20px;
    }

    .feature .pic {
        padding: 15px;
        height: 120px;
    }

    .feature img {
        max-width: 70px;
    }

    .feature .data {
        padding: 15px;
    }

    .feature h4 {
        font-size: 14px;
        line-height: 25px;
    }

    .loginInfo h4 {
        font-size: 14px;
        line-height: 25px;
    }

    .loginInfo span {
        font-size: 25px;
    }

    .policy h2 {
        font-size: 18px;
    }

    .policy ul {
        font-size: 14px;
        line-height: 25px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||         Contact Page       ||========================*/
/*==========================||---------------------------||========================*/

.contactBox {
    color: var(--text);
    background: var(--white);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.contactBox h3 {
    font-weight: 600;
    margin-bottom: 40px;
}

.field {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--text);
    height: 45px;
    transition: all .5s ease-in-out;
}

.textareaField {
    height: 100px;
}

.field.focused {
    border-color: var(--primaryColor);
}

.field label {
    margin: 0;
    position: absolute;
    top: 0;
    margin-inline-start: 10px;
    font-size: 13px;
    font-weight: 800;
    line-height: 40px;
    transition: all .3s ease-in-out;
}

.field.focused label {
    top: -23px;
    margin-inline-start: 0;
    font-size: 10px;
}

.field input {
    border: 0;
    height: 100%;
    width: 100%;
}

.field textarea {
    border: 0;
    resize: none;
    height: 100%;
    width: 100%;
}

.formBtns {
    margin: 40px 0 0 0;
}

.formBtns button {
    width: 120px;
    height: 45px;
    background: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    box-shadow: none;
    color: var(--white);
    font-weight: 600;
    border-radius: 5px;
    margin-inline-end: 16px;
    cursor: pointer;
}

.formBtns button:hover {
    background: var(--orange);
}

.contactForm {
    padding: 5%;
}

.contactSocial {
    background: var(--primaryColor);
    padding: 30px;
    height: 100%;
}

.contactSocial li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contactSocial .icon {
    width: 30px;
}

.contactSocial h5 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--blue-dark);
}

.contactSocial a {
    font-size: 15px;
    color: var(--white);
}

@media screen and (max-width:768px) {
    .contactBox h3 {
        font-size: 17px;
    }

    .formBtns {
        margin-top: 20px;
    }

    .formBtns button {
        width: 100px;
        font-size: 14px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           en Ltr          ||========================*/
/*==========================||---------------------------||========================*/

.en {
    direction: ltr;
    text-align: left;
}

@media screen and (max-width:768px) {}

/*==========================||---------------------------||========================*/
/*==========================||           loader          ||========================*/
/*==========================||---------------------------||========================*/

.loader {
    background-color: #E6E9EA;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
}

.loaderWrapper {
    width: 200px;
}

.loaderBox {
    width: 80px;
    height: 137px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    /* overflow: hidden; */
}

.loader svg {
    width: 80px;
    height: 190px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.loader .background {
    width: 77px;
    height: 30px;
    background-color: #5BBCFC;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 1px;
    animation: liquid 3s ease-in-out infinite, liquid-color 80s infinite;
}

.bubble {
    width: 20px;
    height: 20px;
    background: #5BBCFC;
    border-radius: 10px;
    position: absolute;
    top: 120px;
}

.loader p {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    width: 170px;
    margin: 16px auto;
    font-weight: 700;
}

@keyframes liquid {
    0% {
        height: 30px;
    }

    50% {
        height: 40px;
    }

    100% {
        height: 30px;
    }
}

@keyframes liquid-color {
    from {
        -webkit-filter: hue-rotate(-360deg);
    }

    to {
        -webkit-filter: hue-rotate(0deg);
    }
}

@keyframes bubble {
    0% {
        top: 60px;
    }

    100% {
        top: -90px;
        opacity: 0;
    }
}

@keyframes side {
    0% {
        margin-right: 0px;
    }

    100% {
        margin-right: 35px;
    }
}

.b1,
.b2,
.b3 {
    right: 18px;
    transform: scale(0.4);
    opacity: 0.6;
    animation: bubble 8s linear infinite, liquid-color 80s infinite, side 2s ease-in-out infinite alternate;
}

.b2 {
    right: 17px;
    transform: scale(0.5);
    animation-delay: 2s, 0s, 2s;
}

.b3 {
    right: 26px;
    animation-delay: 5s, 0s, 5s;
    animation: bubble 10s linear infinite, liquid-color 80s infinite, side 3s ease-in-out infinite alternate;
}

.b4,
.b5 {
    right: 17px;
    transform: scale(0.5);
    opacity: 0.8;
    animation: bubble 16s linear infinite, liquid-color 80s infinite, side 5s ease-in-out infinite alternate;
    animation-delay: 4s, 0s, 4s;
}

.b5 {
    right: 16px;
    animation-delay: 5s, 0s, 5s;
}

.b6,
.b7,
.b8 {
    right: 17px;
    transform: scale(0.6);
    opacity: 0.4;
    animation: bubble 14s linear infinite, liquid-color 80s infinite, side 3s ease-in-out infinite alternate;
    animation-delay: 9s, 0s, 9s;
}

.b7 {
    right: 14px;
    transform: scale(0.7);
    animation-delay: 3s, 0s, 3s;
}

.b8 {
    right: 17px;
    animation-delay: 7s, 0s, 7s;
}

.b9,
.b0 {
    right: 19px;
    transform: scale(0.65);
    opacity: 0.7;
    animation: bubble 20s linear infinite, liquid-color 80s infinite, side 5s ease-in-out infinite alternate;
}

.b0 {
    right: 18px;
    animation-delay: 13s, 0s, 13s;
}

.swirl {
    width: 10px;
    height: 10px;
    background: #5BBCFC;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: 0px;
}

@keyframes swirl {
    0% {
        top: 80px;
    }

    100% {
        top: 90px;
    }
}

.s0 {
    animation: liquid-color 80s infinite, swirl 1s ease-in-out infinite alternate;
}

.s1 {
    left: 40px;
    transform: scale(1.2);
    animation: liquid-color 80s infinite, swirl 2s ease-in-out infinite alternate;
    animation-delay: 0s, 2s;
}

.s2 {
    left: 40px;
    transform: scale(0.8);
    animation: liquid-color 80s infinite, swirl 2s ease-in-out infinite alternate;
    animation-delay: 0s, 3s;
}

.s3 {
    left: 50px;
    transform: scale(1.4);
    animation: liquid-color 80s infinite, swirl 1s ease-in-out infinite alternate;
    animation-delay: 0s, 5s;
}

.s4 {
    left: 60px;
    animation: liquid-color 80s infinite, swirl 2s ease-in-out infinite alternate;
    animation-delay: 0s, 3s;
}

.s5 {
    left: 30px;
    transform: scale(0.8);
    animation: liquid-color 80s infinite, swirl 1s ease-in-out infinite alternate;
    animation-delay: 0s, 2s;
}

